<div class="city-detail">
  <section class="city-header">
    <h2><%= city %></h2>
    <h4><%= summary(weather_info) %></h4>
    <h1><%= current_temperature(weather_info) %>˚</h1>
  </section>

  <section class="today">
    <ul class="today-overview">
      <li>Saturday</li>
      <li></li>
      <li><%= currentMaxTemp(weather_info) %>˚</li>
      <li><%= currentMinTemp(weather_info) %>˚</li>
    </ul>

    <% hourlyTimes(weather_info) %>
    <% houlyTemps(weather_info)  %>

    <div class="today-hourly-list-container">
      <ul class="today-hourly-list" style="width: 1536px;">
        <li>
          <ul>
            <li><%= times[0] %></li>
            
            <li><%= temps[0] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[1] %></li>
            
            <li><%= temps[1] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[2] %></li>
            
            <li><%= temps[2] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[3] %></li>
            
            <li><%= temps[3] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[4] %></li>
            
            <li><%= temps[4] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[5] %></li>
            
            <li><%= temps[5] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[6] %></li>
            
            <li><%= temps[6] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[7] %></li>
            
            <li><%= temps[7] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[8] %></li>
            
            <li><%= temps[8] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[9] %></li>
            
            <li><%= temps[9] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[10] %></li>
            
            <li><%= temps[10] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[11] %></li>
            
            <li><%= temps[11] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[12] %></li>
            
            <li><%= temps[12] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[13] %></li>
            
            <li><%= temps[13] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[14] %></li>
            
            <li><%= temps[14] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[15] %></li>
            
            <li><%= temps[15] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[15] %></li>
            
            <li><%= temps[15] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[16] %></li>
            
            <li><%= temps[16] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[17] %></li>
            
            <li><%= temps[17] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[18] %></li>
            
            <li><%= temps[18] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[19] %></li>
            
            <li><%= temps[19] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[20] %></li>
            
            <li><%= temps[20] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[21] %></li>
            
            <li><%= temps[21] %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li><%= times[22] %></li>
            
            <li><%= temps[22] %>˚</li>
          </ul>
        </li>
      </ul>
    </div>
      <% end %>
      <% end %>
  </section>

<% futureDays(weather_info) %>
<% futureHighs(weather_info) %>
<% futureLows(weather_info) %>
  <section class="forecast">
    <ul class="forecast-list">
      <li>
        <ul>
          <li><%= days[0] %></li>
          
          <li><%= highs[0] %>˚</li>
          <li><%= lows[0] %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= days[1] %></li>
          
          <li><%= highs[1] %>˚</li>
          <li><%= lows[1] %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= days[2] %></li>
          
          <li><%= highs[2] %>˚</li>
          <li><%= lows[2] %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= days[3] %></li>
          
          <li><%= highs[3] %>˚</li>
          <li><%= lows[3] %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= days[4] %></li>
          
          <li><%= highs[4] %>˚</li>
          <li><%= lows[4] %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= days[5] %></li>
          
          <li><%= highs[5] %>˚</li>
          <li><%= lows[5] %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= days[6] %></li>
          
          <li><%= highs[6] %>˚</li>
          <li><%= lows[6] %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><%= days[7] %></li>
          
          <li><%= highs[7] %>˚</li>
          <li><%= lows[7] %>˚</li>
        </ul>
      </li>
    </ul>
  </section>
  <% end %>
  <% end %>
  <% end %>
  <section class="today-details">
    <p class="today-summary">Today: <%= dailySummary(weather_info) %></p>

    <ul class="today-details-list">
      <li>
        <ul>
          <li>Sunrise:</li>
          <li><%= sunrise(weather_info %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Sunset:</li>
          <li><%= sunset(weather_info %></li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Chance of Rain:</li>
          <li><%= recipProb(weather_info) %>%</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Humidity:</li>
          <li><%= humidity(weather_info) %>%</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Wind:</li>
          <li><%= windSpeed(weather_info) %>mph NW</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Feels like:</li>
          <li><%= feelsLike(weather_info) %>˚</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Precipitation:</li>
          <li><%= precipIntensity(weather_info) %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Pressure:</li>
          <li><%= pressure(weather_info) %> in</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Visibility:</li>
          <li><%= visibility(weather_info) %> mi</li>
        </ul>
      </li>
    </ul>
  </div>
</section>